
.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 1 / 1; /* Ensure each card is a square */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  /* transition: transform 0.3s ease, opacity 0.3s ease; */
  transform: scale(1);
  animation: fadeInUp 0.1s ease forwards;
}


/* Fade-in animation for each card */
/* .fade-in {
  opacity: 1;
  transform: scale(1);
  animation: fadeInUp 0.5s ease forwards;
} */

/* Staggered animation for the fade-in effect */
@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card__cover {
  height: 100%;
  object-fit: cover;
}

.card__container {
  padding: 16px;
}

.card__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card__excerpt {
  color: #666;
  margin: 8px 0;
}

.card__date {
  color: #aaa;
  font-size: 0.9rem;
}
.card--expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transform: none;
  box-shadow: none;
}

.card--expanded .card__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.card--expanded .card__cover {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fill the full screen */
}