.gallery {
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    grid-gap: 0px; 
    width: 100%;
}

.gallery__container {
    display: flex;
    align-items: center;
    height: 100vh;
}

@media (max-width: 600px) {  
  .gallery {
    margin-top: 0px;
  }
}
