.gallery {
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); 
    grid-gap: 0px; 
    width: 100%;
}

.gallery__container {
    display: flex;
    align-items: center;
    height: 100vh;
}

@media (max-width: 600px) {  
  .gallery {
    margin-top: 0px;
  }
}


@media (max-height: 800px) {  
  .gallery__container {
    align-items: flex-start
  }
}
@media (max-width: 600px) {  
  .gallery__container {
    align-items: flex-start
  }
  .gallery {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); 
  }
}

